    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    body {
      background-color:  #91F9E5;
      font-family: 'Inter', sans-serif;
    }
    #hero {
      background: url('../images/hero-image.jpg') center/cover no-repeat;
      padding: 80px 20px;
      color: black;
      text-align: center;
      background-color: #cce5ff;
    }
    .card-title {
      color: #0c5460;
    }
    .affirmation {
      font-size: 1.2rem;
      font-style: italic;
    }
